/* src/css/custom.scss */

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Outfit:wght@100..900&display=swap');




/* Variables tipográficas */
$font-family-base: 'Lexend',
sans-serif;
$font-size-base: 1.2rem; // 16px
$line-height-base: 1.5;

/* Colores (puedes usar los de Reveal como base) */
$primary-color: #460556;
$secondary-color: #ff6600;
$terciary-color: #c73319;
$color-text: rgb(17, 16, 19);

/* Sobrescribe variables de Reveal (si las usa) */
$background-color: #c4cfb5; // Fondo de la presentación
$color: #141414c2; // Color de texto


a, a:visited{
    color: $terciary-color;
}

/* Long shadow 
        para usar:
        @include long-shadow(20, 2px, 2px, 0, rgba(251, 255, 16, 0.083)); */
@mixin long-shadow($steps: 50, $dx: 1px, $dy: 1px, $blur: 0, $color: rgba(0, 0, 0, .3)) {
    $shadows: ();

    @for $i from 1 through $steps {
        $x: $i * $dx;
        $y: $i * $dy;
        $shadows: append($shadows, $x $y $blur $color, comma);
    }
    text-shadow: $shadows;
}

@mixin svg-shadow($steps: 50, $dx: 1px, $dy: 1px, $blur: 0, $color: rgba(0, 0, 0, .3)) {
  $filters: "";

  @for $i from 1 through $steps {
    $x: $i * $dx;
    $y: $i * $dy;
    $filters: #{$filters} drop-shadow(#{$x} #{$y} #{$blur} #{$color});
  }

  filter: #{$filters};
}

/* Estilos globales */
body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $color;
    background: $background-color;
}



/* Sobrescribe clases de Reveal (ejemplo) */
.reveal .slide-background {
    background-size: cover;
    background-position: center;
}

/* Si quieres usar variables CSS (custom properties) */
:root {
    --r-background: $background-color;
    --r-color: $color;
}

.col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.col-special{
    display: grid;
    grid-template-columns: 10fr 12fr;
    align-items: center;
}

.reveal {
    .slides {

        .invert{
            h2,h3, p{
                color: white;
                text-shadow: 1px 1px 2px #25013073;
            }
        }

        h2, h3, h4, h5, h6{
            color: $terciary-color;
            span{
                font-weight: 300;
                color: $color-text;
            }
        }
        
        table.essence-mediafranca{
            font-size: 85%;
            width: 100%;
            th{
                vertical-align: bottom;
              span{
                text-transform: uppercase;
                    font-size: 70%;
                    font-weight: 300;
              }
              em{
                font-style: normal;
                color: $terciary-color;
                font-weight: 500;
              }
              strong{
                font-size: 3rem;
              }
            }
            th:first-child,
            td:first-child{
                text-align: right;
                white-space: nowrap;
            }
            td{
                vertical-align: top;
                em{
                    font-style: normal;
                    text-transform: uppercase;
                    font-size: 70%;
                    color: $terciary-color;
                }
            }
        }

        table.gap{
            thead{
                tr{
                    th{
                        width: 25%;
                        text-align: center;
                        font-weight: 400;
                        text-transform: uppercase;
                        font-size: 90%;
                        color: $terciary-color;
                        padding-bottom: 1em;
                        img{
                            width: 5em;
                        }
                    }
                }
            }
            tbody{
                font-size: 80%;
                tr{
                    td{
                        vertical-align: top;
                        ul{
                            list-style: none;
                            padding-left: 1em;
                            $check-color: rgb(3, 173, 3);
                            $fail-color: rgb(208, 45, 8);
                            li{
                                position: relative;
                                padding-left: 1.5em;
                                margin-bottom: 1em;
                                &.check{
                                    &::before {
                                        content: "✓";
                                        color: $check-color;
                                        font-weight: bold;
                                        font-size: 1.2em;
                                        position: absolute;
                                        left: 0;
                                        top: 0;
                                    }
                                }
                                &.fail{
                                    color: $fail-color;
                                    &::before {
                                        content: "✘";
                                        color: $fail-color;
                                        font-weight: bold;
                                        font-size: 1.2em;
                                        position: absolute;
                                        left: 0;
                                        top: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        line-height: $line-height-base;
        text-align: left;

        .thumb{
            position: relative;
            max-width: 10em;
            margin: 0 auto;
        }

        #title-slide {

            .illustration {
                position: absolute;
                width: 66%;
                left:33%;
                top: -18%;
                @include svg-shadow(3, 1px, 1px, 0, rgba(0, 0, 0, 0.039));
            }

            .col-special {
                margin: 30% 0 0 0;
                .title {
                    margin: 0;
                    @include long-shadow(3, 1px, 1px, 0, rgba(0, 0, 0, 0.039));

                    h1 {
                        text-transform: uppercase;
                        font-size: $font-size-base * 1.25;
                        line-height: $font-size-base * 2;
                        letter-spacing: .15ex;
                        font-weight: 350;

                        span {
                            display: block;
                            font-weight: 700;
                            color: $terciary-color;
                        }
                    }

                }

                .credentials {
                    display: grid;
                    font-size: 75%;
                    line-height: 160%;
                    grid-template-columns: 1fr 1fr;
                    margin: 7em 0 0 0;

                    .author,
                    .tutors {
                        dt {
                            font-size: .6rem;
                            color: $terciary-color;
                            text-transform: uppercase;
                            font-weight: 600;
                            margin: 2em 0 0 0;
                            strong{
                                line-height: 90%;
                            }
                        }

                        dl {
                            margin: 0 0 0 2em;
                            span{
                                position: relative;
                                font-size: 70%;
                                top: -1ex;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }

        }

        .image{
            text-align: center;
            
            img, 
            svg{
                display: relative;
                display: inline-block;
                padding: 0 10%;
                max-width: 80%;
            }

            .legend{
                font-size: 80%;
                position: relative;
                text-align: left;
                ul{
                    li::marker{
                     color: $terciary-color;
                    }
                }
            }
        }

        .footer{
            display: flex;             
            align-items: center;         
            justify-content: space-between; 
            height: 100%; 
            font-size: .7rem;
            padding: 3rem 3rem 3rem 0;
            img.logo{width: 100px;}
        }

        .legend{
            position: relative;
            height: 70vh;
            display: table-cell;
            height: max-content;
            background-color: #fffc;
            bottom: 0;
        }

        p {
            &.smallcaps{
                text-transform: uppercase;
                color: $terciary-color;
                letter-spacing: .1ex;
            }
            &.huge {
                
                line-height: 124%;
                font-size: 2.5rem;
                padding: 0 6ex 0 2.3em;
                mix-blend-mode: lighten;
                color: rgb(2, 32, 44);

                span {
                    transform-origin: center;
                    transform: rotate(-1.5deg);
                    border-radius: 0.21ex;
                    display: inline-block;
                    break-inside: avoid;
                    padding: 0 0.23ex 0.123ex 0.27ex;
                    color: $terciary-color;
                    background-color: rgba($terciary-color, .1);
                    border: 0.013ex solid rgba($terciary-color, .2);
                    font-weight: 300;
                }
            }

            &.question {
                font-weight: 279;
                padding: 0 2m;
                line-height: 160%;
            }

            &.light {
                font-weight: 222;
                text-transform: none;
                color: #ffffffca;
                font-size: 80%;

                strong {
                    color: white;
                }
            }

            &.small {
                font-size: 0.8rem;
            }
        }

        h2 {

            &.photo-overlay {
                color: rgba(255, 255, 255, 0.92);
                margin: 16em 0 0 0;
                font-weight: 689;
                line-height: 166%;
                text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.93);
                text-transform: uppercase;
                font-size: 1.36rem;

                span {
                    background-color: rgba(0, 0, 0, 0.54);
                    padding: 0 .5ex;

                    &.light {
                        font-weight: 222;
                        text-transform: none;
                    }
                }
            }

        }

        .last {

            a,
            a:visited {
                color: $primary-color;
                font-weight: 600;
            }
        }

        .nsm {
            margin: 4em 0 0 0;
            font-size: 60%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
            gap: 1.5rem;
            grid-template-rows: repeat(auto-fit, minmax(9em, 1fr));

            .block-name {
                color: rgb(248, 247, 242);
                font-size: .9rem;
                font-weight: 600;
                margin: 0 0 0.5em 0;
                text-align: left;
            }

            .nsm-block {
                margin: 0;
                padding: 0;

                li {
                    display: inline-block;
                    background-color: gray;
                    margin: .31ex .1ex;
                    padding: 0 .5ex;
                    border-radius: .3ex;
                    font-size: 150%;
                    text-shadow: 1px 1px 0 #ffffff4d;
                }

                .facil {
                    background-color: rgba(94, 255, 1, 0.631);

                }

                .dificil {
                    background-color: rgba(255, 94, 0, 0.637);
                }

                .d1 {
                    background-color: #48ba06;
                }

                .d2 {
                    background-color: #96f704;
                }

                .d3 {
                    background-color: #e4f804;
                }

                .d4 {
                    background-color: #f78e04;
                }

                .d5 {
                    background-color: #c94b01;
                }
            }
        }


        ol.inline{
            display: flex;
            text-align: center;
            justify-content: center;
            li {
                font-size: 60%;
               
                text-transform: uppercase;
                width: 7em;
                list-style-type: decimal;
                list-style-position: inside;
                background-color: rgba($terciary-color, .2);
                padding: 2ex 4ex;
                margin: 0 1ex 0 0;
                border-radius: 3em;
                &::marker{
                    color: $terciary-color;
                    display: block;
                }
            }
        }

        table {
            width: 80%;
            margin: 0 auto;
            border-collapse: collapse;

            th {
                border-bottom: .25ex solid $terciary-color;
            }
        }

        .fit {
            margin: 0 auto;
            max-height: 80vh;
            max-width: 90%;
            height: auto;
        }

        .w {
            background-color: white;
        }

        .p5-host {
            width: 100%;
            height: 60vh;
            max-height: 80vh;
            background: transparent;
            border-radius: 8px;
            overflow: hidden;
        }

        .web-window {
            /* Marco y estética */
            border: 1px solid rgba(0, 0, 0, 0.16);
            border-radius: 1.34ex;
            box-shadow:
                0 1ex 5px rgba(0, 0, 0, 0.14),
                0 .66ex 10px rgba(0, 0, 0, 0.35),
                0 .33ex 30px rgba(0, 0, 0, 0.20);
            overflow: hidden;
            background: #fff;

            /* Centrando y limitando tamaño de manera fluida */
            margin-inline: auto;
            /* centra horizontalmente dentro de la slide */
            display: grid;
            /* para que el iframe llene el contenedor */
            place-items: stretch;
            /* iframe a 100% */
            width: min(85vw, 1200px);
            height: min(85vh, 800px);


            &.pictogramas {
                height: min(82vh, 860px);
            }

            &.pipeline {
                height: min(55vh, 650px);
            }


            // el iframe adentro
            iframe {
                width: 100%;
                height: 100%;
                border: 0;
                border-radius: inherit;
                /* hereda esquinas redondeadas del marco */
            }
        }
    }

}

.xl{
    font-size: 150%;
    li{
        margin-bottom: 1em;
    }
}

.zoom125 {
    zoom: 1.25;
}

.zoom133 {
    zoom: 1.33;
}

.zoom166 {
    zoom: 1.66;
}

.uc{
    text-transform: uppercase;
}



.code-node.is-selected { 
    background: rgba(254, 94, 1, 0.195); 
    outline: 1px solid $terciary-color; 
    border-radius: .6ex;
}

svg .is-selected { 
    filter: drop-shadow(0 0 2px $terciary-color); 
}



/* code highlight */


.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: transparent;
    color: #6b6767;
    //white-space: pre-wrap;
    font-size: 70%;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-tag {
    color: #9b6b18;
}

.hljs-template-tag {
    color: #df6363;
}

.hljs-number {
    color: #8cd0d3;
}

.hljs-variable,
.hljs-template-variable,
.hljs-attribute {
    color: #ccd34e;
}

.hljs-literal {
    color: #6d6d39;
}

.hljs-subst {
    color: #8f8f8f;
}

.hljs-title,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-section,
.hljs-type {
    color: #5fa94c;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
    color: #dca3a3;
}

.hljs-deletion,
.hljs-string,
.hljs-built_in,
.hljs-builtin-name {
    color: #cc9393;
}

.hljs-addition,
.hljs-comment,
.hljs-quote,
.hljs-meta {
    color: #7f9f7f;
}


.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}